<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>369582777488-tkp6ibip2gjeo9di40bnb7nsai7skj4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369582777488-tkp6ibip2gjeo9di40bnb7nsai7skj4b</string>
	<key>API_KEY</key>
	<string>AIzaSyCZHVlf1MwOyvYJAb8Zp1pOmrNaxYaRiEs</string>
	<key>GCM_SENDER_ID</key>
	<string>369582777488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uk.apptouch.Souvlaki-1-0</string>
	<key>PROJECT_ID</key>
	<string>souvlaki-street-app</string>
	<key>STORAGE_BUCKET</key>
	<string>souvlaki-street-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369582777488:ios:3adef070906070d8</string>
	<key>DATABASE_URL</key>
	<string>https://souvlaki-street-app.firebaseio.com</string>
</dict>
</plist>